Repository Discours/discours-frontend-ex: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix, stylelint --fix

refactor(structure): ♻️ discours-ui rename to discours-ui-kit
  README.md
  README.source.md
  src/components/README.md
  src/components/discours-ui-kit/Typography/README.md
  src/components/discours-ui-kit/Typography/Typography.css
  src/components/discours-ui-kit/Typography/Typography.css.d.ts
  src/components/discours-ui-kit/Typography/Typography.stories.tsx
  src/components/discours-ui-kit/Typography/Typography.tsx
  src/components/discours-ui-kit/Typography/index.ts
  src/pages/NotFound.tsx
Due: prettier --write, tslint --fix, stylelint --fix

docs(README): 📝 remove extra dot
  README.source.md
Due: none

chore(stylelint): 🤖 Replace stylelint-config-rational-order with stylelint-config-idiomatic-ord
  .stylelintrc
  README.md
  README.source.md
  package-lock.json
  package.json
  src/styles/global.css
Due: prettier --write, stylelint --fix

chore(storybook): 🤖 Storybook image import fix
  .storybook/webpack.config.js
  config/webpack/loaders/fs.js
  webpack.config.js
Due: none

feat(Container): ✨ Create Container component ni discours-ui-kit
  src/components/discours-ui-kit/Container/Container.css
  src/components/discours-ui-kit/Container/Container.css.d.ts
  src/components/discours-ui-kit/Container/Container.stories.tsx
  src/components/discours-ui-kit/Container/Container.tsx
  src/components/discours-ui-kit/Container/README.md
  src/components/discours-ui-kit/Container/index.ts
Due: prettier --write, tslint --fix, stylelint --fix

chore(vscode): 🤖 Turn off jest coverage in vscode. No need in frontend project
  .vscode/settings.json
Due: prettier --write

design(Container): 💄 Move .container styles from Bootstrap 3
  src/components/discours-ui-kit/Container/Container.css
Due: prettier --write, stylelint --fix

design(global): 💄 Remove max-width from theme
  src/styles/global.css
Due: prettier --write, stylelint --fix

design(Typography): 💄 Starting to describe Typography component
  src/components/discours-ui-kit/Typography/Typography.css
  src/components/discours-ui-kit/Typography/Typography.css.d.ts
  src/components/discours-ui-kit/Typography/Typography.tsx
Due: prettier --write, tslint --fix, stylelint --fix

wip(FooterSupportBanner): 🚧 Create a component, starting to implement it
  src/components/modules/Footer/README.md
  src/components/modules/Footer/components/FooterSupportBanner/FooterSupportBanner.css
  src/components/modules/Footer/components/FooterSupportBanner/FooterSupportBanner.css.d.ts
  src/components/modules/Footer/components/FooterSupportBanner/FooterSupportBanner.stories.tsx
  src/components/modules/Footer/components/FooterSupportBanner/FooterSupportBanner.tsx
  src/components/modules/Footer/components/FooterSupportBanner/README.md
  src/components/modules/Footer/components/FooterSupportBanner/banner-big.jpg
  src/components/modules/Footer/components/FooterSupportBanner/banner-small.jpg
  src/components/modules/Footer/components/FooterSupportBanner/example-1.png
  src/components/modules/Footer/components/FooterSupportBanner/index.ts
  src/components/modules/Footer/example-1.png
Due: prettier --write, tslint --fix, stylelint --fix

chore(typescript css modules): 🤖 Change css-modules-typescript-loader to plugin-css-modules
  config/webpack/loaders/css.js
  package-lock.json
  package.json
  src/components/discours-ui-kit/Container/Container.css.d.ts
  src/components/discours-ui-kit/Typography/Typography.css.d.ts
  src/components/modules/Footer/components/FooterSupportBanner/FooterSupportBanner.css.d.ts
  src/styles/global.css.d.ts
  tsconfig.json
Due: prettier --write

fix(css-modules): 🐛 Build time css modules support
  @types/css/index.d.ts
Due: none

chore(npm-scripts): 🤖 Clean script fixed
  package.json
Due: prettier --write

test(Typography): 💍 Create test for a component
  src/components/discours-ui-kit/Typography/Typography.spec.tsx
Due: prettier --write, tslint --fix

refactor(typescript): ♻️ Change import * as to import statements
  __utils__/renderWithIntl.tsx
  __utils__/renderWithRouter.tsx
  src/components/discours-ui-kit/Container/Container.stories.tsx
  src/components/discours-ui-kit/Container/Container.tsx
  src/components/discours-ui-kit/Typography/Typography.spec.tsx
  src/components/discours-ui-kit/Typography/Typography.stories.tsx
  src/components/discours-ui-kit/Typography/Typography.tsx
  src/components/formatters/FormattedDate/FormattedDate.spec.tsx
  src/components/formatters/FormattedDate/FormattedDate.stories.tsx
  src/components/formatters/FormattedDate/FormattedDate.tsx
  src/components/modules/Footer/components/FooterSupportBanner/FooterSupportBanner.stories.tsx
  src/contexts/LocaleContext.tsx
  src/contexts/ThemeContext.tsx
  src/index.tsx
  src/layouts/App.spec.tsx
  src/layouts/App/App.tsx
  src/layouts/App/CommonProvider.tsx
  src/layouts/App/StorybookProvider.tsx
  src/layouts/Body.tsx
  src/pages/NotFound.tsx
  src/pages/index.tsx
Due: prettier --write, tslint --fix

refactor(FormattedDate): ♻️ Moved dateFormats to a separate type
  src/components/formatters/FormattedDate/FormattedDate.tsx
Due: prettier --write, tslint --fix

refactor(Typography): ♻️ Move to usage of defaultProps
  src/components/discours-ui-kit/Typography/Typography.tsx
Due: prettier --write, tslint --fix

chore(storybook): 🤖 Load images inside storybooks'\'' README files
  .storybook/preview-head.html
  .storybook/webpack.config.js
  config/webpack/loaders/css.js
  config/webpack/loaders/md.js
Due: none

refactor(storybook): ♻️ Move examples to examples folders
  src/components/modules/Footer/README.md
  src/components/modules/Footer/components/FooterSupportBanner/README.md
  src/components/modules/Footer/components/FooterSupportBanner/examples/example-1.png
  src/components/modules/Footer/examples/example-1.png
Due: none

wip(Button): 🚧 Create Button component and write docs
  src/components/discours-ui-kit/Button/Button.css
  src/components/discours-ui-kit/Button/Button.stories.tsx
  src/components/discours-ui-kit/Button/Button.tsx
  src/components/discours-ui-kit/Button/README.md
  src/components/discours-ui-kit/Button/examples/button-corner-left-hover.png
  src/components/discours-ui-kit/Button/examples/button-corner-left.png
  src/components/discours-ui-kit/Button/examples/button-corner-right.png
  src/components/discours-ui-kit/Button/examples/button-corner.png
  src/components/discours-ui-kit/Button/examples/button-fat-hover.png
  src/components/discours-ui-kit/Button/examples/button-fat.png
  src/components/discours-ui-kit/Button/examples/button-primary.png
  src/components/discours-ui-kit/Button/examples/button-regular-hover.png
  src/components/discours-ui-kit/Button/examples/button-regular.png
  src/components/discours-ui-kit/Button/examples/link-background-hover.png
  src/components/discours-ui-kit/Button/examples/link-background-inverse-hover.png
  src/components/discours-ui-kit/Button/examples/link-background-inverse.png
  src/components/discours-ui-kit/Button/examples/link-background.png
  src/components/discours-ui-kit/Button/examples/link-regular-fat-hover.png
  src/components/discours-ui-kit/Button/examples/link-regular-fat.png
  src/components/discours-ui-kit/Button/examples/link-regular-inverse-hover.png
  src/components/discours-ui-kit/Button/examples/link-regular-inverse.png
  src/components/discours-ui-kit/Button/examples/link-regular.png
  src/components/discours-ui-kit/Button/examples/link-underline-hover.png
  src/components/discours-ui-kit/Button/examples/link-underline.png
  src/components/discours-ui-kit/Button/index.ts
Due: prettier --write, tslint --fix, stylelint --fix

chore(storybook): 🤖 Add build-storybook npm script
  .gitignore
  package.json
Due: prettier --write

chore(node): 🤖 Change recommended node v to 12.7. Change allowed version to 10.0
  .nvmrc
  package.json
Due: prettier --write

chore(deps): 🤖 Move ts-node to prod deps
  README.source.md
  package-lock.json
  package.json
Due: prettier --write

chore(deps): 🤖 Made project to build with production only deps
  config/webpack/loaders/ts.js
  package-lock.json
  package.json
Due: prettier --write

docs(README): 📝 Add preview links
  README.md
  README.source.md
Due: none

chore(stylelint): 🤖 Add stylelint-config-prettier to bypass different linters diffs
  .stylelintrc
  package-lock.json
  package.json
Due: prettier --write

chore(vscode): 🤖 Launch stylelint fix on save
  .vscode/extensions.json
  .vscode/settings.json
  .vscode/tasks.json
Due: prettier --write

chore(vscode): 🤖 Create task to run test for a current file
  .vscode/tasks.json
Due: prettier --write

refactor(export): ♻️ Index files should export all by default
  src/components/discours-ui-kit/Button/index.ts
  src/components/discours-ui-kit/Container/index.ts
  src/components/discours-ui-kit/Typography/index.ts
  src/components/formatters/FormattedDate/index.ts
  src/layouts/App/index.ts
Due: none

wip(Typography): 🚧 Add isInverse, isInline, isInheritColor props
  src/components/discours-ui-kit/Typography/Typography.css
  src/components/discours-ui-kit/Typography/Typography.stories.tsx
  src/components/discours-ui-kit/Typography/Typography.tsx
Due: prettier --write, tslint --fix, stylelint --fix

wip(Button): 🚧 Created link-regular, link-regular-fat, link-regular-underline buttons
  src/components/discours-ui-kit/Button/Button.css
  src/components/discours-ui-kit/Button/Button.stories.tsx
  src/components/discours-ui-kit/Button/Button.tsx
  src/components/discours-ui-kit/Button/README.md
  src/components/formatters/FormattedDate/FormattedDate.tsx
  src/styles/themes/default.css
Due: prettier --write, tslint --fix, stylelint --fix

chore(tsconfig): 🤖 modules es6 to turn on webpack tree shaking
  tsconfig.json
Due: prettier --write

design(Button): 💄 Button inverse and dark theme style
  src/components/discours-ui-kit/Button/Button.css
  src/styles/themes/dark.css
  src/styles/themes/default.css
Due: prettier --write, stylelint --fix

chore(webpack): 🤖 css should be hot reloaded
  config/webpack/loaders/css.js
  config/webpack/plugins/css.js
  package-lock.json
  package.json
Due: prettier --write

design(svg): 💄 Icons remake
  src/components/discours-ui-kit/Icon/Icon.css
  src/components/discours-ui-kit/Icon/icons/comments-light.svg
  src/components/discours-ui-kit/Icon/icons/comments.svg
  src/components/discours-ui-kit/Icon/icons/editor-align-center.svg
  src/components/discours-ui-kit/Icon/icons/editor-align-column.svg
  src/components/discours-ui-kit/Icon/icons/editor-align-left-third.svg
  src/components/discours-ui-kit/Icon/icons/editor-align-left.svg
  src/components/discours-ui-kit/Icon/icons/editor-align-width.svg
  src/components/discours-ui-kit/Icon/icons/editor-bold.svg
  src/components/discours-ui-kit/Icon/icons/editor-footnote.svg
  src/components/discours-ui-kit/Icon/icons/editor-h1.svg
  src/components/discours-ui-kit/Icon/icons/editor-h2.svg
  src/components/discours-ui-kit/Icon/icons/editor-image.svg
  src/components/discours-ui-kit/Icon/icons/editor-italic.svg
  src/components/discours-ui-kit/Icon/icons/editor-lead.svg
  src/components/discours-ui-kit/Icon/icons/editor-link.svg
  src/components/discours-ui-kit/Icon/icons/editor-media.svg
  src/components/discours-ui-kit/Icon/icons/editor-quote.svg
  src/components/discours-ui-kit/Icon/icons/editor-text-tools.svg
  src/components/discours-ui-kit/Icon/icons/email.svg
  src/components/discours-ui-kit/Icon/icons/enter.svg
  src/components/discours-ui-kit/Icon/icons/lamp.svg
  src/components/discours-ui-kit/Icon/icons/literature.svg
  src/components/discours-ui-kit/Icon/icons/music.svg
  src/components/discours-ui-kit/Icon/icons/photo.svg
  src/components/discours-ui-kit/Icon/icons/post.svg
  src/components/discours-ui-kit/Icon/icons/rating-light.svg
  src/components/discours-ui-kit/Icon/icons/rating.svg
  src/components/discours-ui-kit/Icon/icons/rss.svg
  src/components/discours-ui-kit/Icon/icons/search.svg
  src/components/discours-ui-kit/Icon/icons/video.svg
  src/components/discours-ui-kit/Icon/icons/views-light.svg
  src/components/discours-ui-kit/Icon/icons/views.svg
Due: prettier --write, stylelint --fix

wip(router): 🚧 Add routes config
  src/config/routes.ts
Due: none

design(Icon): 💄 Add twitter, vk, telegram, facebook, paperclip icons
  src/components/discours-ui-kit/Icon/icons/brand-facebook.svg
  src/components/discours-ui-kit/Icon/icons/brand-telegram.svg
  src/components/discours-ui-kit/Icon/icons/brand-twitter.svg
  src/components/discours-ui-kit/Icon/icons/brand-vk.svg
  src/components/discours-ui-kit/Icon/icons/index.ts
  src/components/discours-ui-kit/Icon/icons/paperclip.svg
Due: none

wip(FooterSupportBanner): 🚧 Add some links
  src/components/discours-ui-kit/Button/Button.css
  src/components/discours-ui-kit/Button/Button.tsx
  src/components/modules/Footer/components/FooterSupportBanner/FooterSupportBanner.css
  src/components/modules/Footer/components/FooterSupportBanner/FooterSupportBanner.tsx
Due: prettier --write, tslint --fix, stylelint --fix

wip(Button): 🚧 Add router typings to Button component as a Link
  src/components/discours-ui-kit/Button/Button.spec.tsx
  src/components/discours-ui-kit/Button/Button.tsx
  src/components/modules/Footer/components/FooterSupportBanner/FooterSupportBanner.tsx
  src/config/routes.ts
Due: prettier --write, tslint --fix

Path conditions:
  prettier --write: (((any of: *.json) or (any of: *.ts,!*.css.d.ts)) or (any of: *.tsx)) or (any of: *.css)
  tslint --fix: (any of: *.ts,!*.css.d.ts) or (any of: *.tsx)
  stylelint --fix: any of: *.css
