Repository Discours/discours-frontend-ex: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix, stylelint --fix

chore(i18n): 🤖 Remove storybook plugin and update docs [#5]
  .storybook/addons.js
  .storybook/config.js
  README.md
  README.source.md
  docs/storybook-examples/locale.png
  package-lock.json
  package.json
Due: prettier --write

wip(i18n): 🚧 Remove global provider [#5]
  .storybook/config.js
  src/layouts/App/CommonProvider.tsx
  src/layouts/App/StorybookProvider.tsx
Due: prettier --write, tslint --fix

wip(LocaleContext): 🚧 Remove usage [#5]
  src/components/formatters/FormattedDate/FormattedDate.tsx
  src/config/locales.ts
  src/contexts/LocaleContext.tsx
  src/layouts/App/App.tsx
  src/utils/locale.spec.ts
  src/utils/locale.ts
Due: prettier --write, tslint --fix

chore(deps): 🤖 Remove lioness [#5]
  src/i18n/en-GB.po
  src/i18n/ru.po
  src/i18n/template.pot
Due: none

chore(deps): 🤖 Remove lioness [#5]
  README.md
  README.source.md
  __utils__/renderWithIntl.tsx
  package-lock.json
  package.json
  src/layouts/Footer/components/FooterBottom/FooterBottom.tsx
  src/layouts/Footer/components/FooterSubscribeForm/FooterSubscribeForm.tsx
  src/layouts/Footer/components/FooterSupportBanner/FooterSupportBanner.tsx
  src/pages/NotFound.tsx
Due: prettier --write, tslint --fix

test(i18n): 💍 Remove i18n specific logic from tests [#5]
  src/components/formatters/FormattedDate/FormattedDate.spec.tsx
  src/i18n/template.pot
  src/layouts/App.spec.tsx
  src/layouts/Footer/components/FooterSupportBanner/FooterSupportBanner.tsx
Due: prettier --write, tslint --fix

chore(deps): 🤖 DELETE gettext-utils and all acossiated files [#5]
  .gitignore
  package-lock.json
  package.json
  src/i18n/en-GB.po
  src/i18n/ru.po
  src/i18n/template.pot
Due: prettier --write

chore(TODO): 🤖 Remove TODO comments about i18n [#5]
  src/components/discours-ui-kit/Button/Button.tsx
  src/layouts/Footer/components/FooterSubscribeForm/FooterSubscribeForm.tsx
  src/layouts/Footer/components/FooterSupportBanner/FooterSupportBanner.tsx
Due: prettier --write, tslint --fix

test(Button.spec): 💍 Fix test because of a string change [#5]
  src/components/discours-ui-kit/Button/Button.spec.tsx
Due: prettier --write, tslint --fix

test: 💍 Fix warning by upgrading React version [#5]
  package-lock.json
  package.json
Due: prettier --write

test(FormattedDate): 💍 Add tests to all FormattedDate variants [#5]
  config/jest-setup.js
  jest.config.js
  src/components/formatters/FormattedDate/FormattedDate.spec.tsx
Due: prettier --write, tslint --fix

chore(FormattedDate): 🤖 DELETED date-fns, rewritten with native Intl.DateTimeFormat [#5]
  config/jest-global-setup.js
  config/jest-setup.js
  jest.config.js
  package-lock.json
  package.json
  src/components/formatters/FormattedDate/FormattedDate.spec.tsx
  src/components/formatters/FormattedDate/FormattedDate.tsx
Due: prettier --write, tslint --fix

wip(routes): 🚧 Add howToWrite route [#3]
  src/components/modals/SendContentItemModal/SendContentItemModal.tsx
  src/config/routes.ts
  src/i18n/en-GB.po
  src/i18n/ru.po
  src/i18n/template.pot
Due: prettier --write, tslint --fix

chore(webpack): 🤖 Remove ts-node and locales from webpack [#5]
  package-lock.json
  package.json
  webpack.config.js
Due: prettier --write

docs(shields): 📝 Replace travis shield with a direct link [#5]
  README.md
  README.source.md
Due: none

design(Button): 💄 Add 0.5rem margin to button [#3]
  src/components/discours-ui-kit/Button/Button.css
  src/components/discours-ui-kit/Icon/Icon.css
  src/components/discours-ui-kit/Input/Input.stories.tsx
  src/layouts/Footer/components/FooterSubscribeForm/FooterSubscribeForm.tsx
Due: prettier --write, tslint --fix, stylelint --fix

wip(Icon): 🚧 Fix svg icons to inverse properly [#3]
  src/components/discours-ui-kit/Icon/icons/article.svg
  src/components/discours-ui-kit/Icon/icons/literature.svg
  src/components/discours-ui-kit/Icon/icons/music.svg
  src/components/discours-ui-kit/Icon/icons/photo.svg
  src/components/discours-ui-kit/Icon/icons/video.svg
Due: none

wip: 🚧 Fix icon to have fixedWidth in em and fix Typography to have marginBottom .5em [#3]
  src/components/discours-ui-kit/Icon/Icon.css
  src/components/discours-ui-kit/Icon/Icon.stories.tsx
  src/components/discours-ui-kit/Typography/Typography.css
Due: prettier --write, tslint --fix, stylelint --fix

wip(SendContentItemModal): 🚧 Style buttons and links [#3]
  src/components/modals/SendContentItemModal/SendContentItemModal.css
  src/components/modals/SendContentItemModal/SendContentItemModal.tsx
Due: prettier --write, tslint --fix, stylelint --fix

refactor(classnames): ♻️ Rename to cn [#3]
  src/components/discours-ui-kit/Button/Button.tsx
  src/components/discours-ui-kit/Icon/Icon.tsx
  src/components/discours-ui-kit/Input/Input.tsx
  src/components/discours-ui-kit/Modal/Modal.tsx
  src/components/discours-ui-kit/Typography/Typography.tsx
  src/components/modals/SendContentItemModal/SendContentItemModal.tsx
  src/contexts/ThemeContext.tsx
  src/layouts/Footer/components/FooterBottom/FooterBottom.tsx
  src/layouts/Footer/components/FooterSupportBanner/FooterSupportBanner.tsx
Due: prettier --write, tslint --fix

design(SendContentIcon): 💄 Style for responsive view [#3]
  src/components/modals/SendContentItemModal/SendContentItemModal.css
Due: prettier --write, stylelint --fix

fix(SendContentItem): 🐛 Fix links of the buttons [#3]
  src/components/modals/SendContentItemModal/SendContentItemModal.tsx
Due: prettier --write, tslint --fix

feat(SendContentItemModal): ✨ Ready [#3]
  src/components/discours-ui-kit/Modal/Modal.tsx
  src/components/modals/SendContentItemModal/SendContentItemModal.tsx
  src/components/modals/SendContentItemModal/index.ts
  src/layouts/Footer/components/FooterSupportBanner/FooterSupportBanner.tsx
Due: prettier --write, tslint --fix

chore(browserlist): 🤖 Remove IE9, IE10 from browserlist [#7]
  .browserslistrc
Due: none

docs(README): 📝 Add section about /report.html [#7]
  README.md
Due: none

docs(README): 📝 Supported browsers update [#7]
  README.md
Due: none

chore(polyfill): 🤖 Replace typescript-polyfills-generator with pollyfill.io [#7]
  config/webpack/loaders/ts.js
  config/webpack/polyfills.js
  package-lock.json
  package.json
  src/index.ejs
  tsconfig.json
Due: prettier --write

chore(typescript): 🤖 Include tslib to optimize bundle [#7]
  package.json
  tsconfig.json
Due: prettier --write

Path conditions:
  prettier --write: (((any of: *.json) or (any of: *.ts,!*.css.d.ts)) or (any of: *.tsx)) or (any of: *.css)
  tslint --fix: (any of: *.ts,!*.css.d.ts) or (any of: *.tsx)
  stylelint --fix: any of: *.css
