Repository Discours/discours-frontend-ex: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix, stylelint --fix

chore(typescript): 🤖 Include tslib to optimize bundle [#7]
  package.json
  tsconfig.json
Due: prettier --write

refactor(structure): ♻️ Move modals to src instead of components [#3]
  src/README.md
  src/layouts/Footer/components/FooterSupportBanner/FooterSupportBanner.tsx
  src/modals/SendContentItemModal/SendContentItemModal.css
  src/modals/SendContentItemModal/SendContentItemModal.stories.tsx
  src/modals/SendContentItemModal/SendContentItemModal.tsx
  src/modals/SendContentItemModal/index.ts
Due: prettier --write, tslint --fix, stylelint --fix

Update README.md
  README.md
Due: none

fix(Link): 🐛 Fix external links [#3]
  src/components/discours-ui-kit/Button/Button.tsx
Due: prettier --write, tslint --fix

wip(discours.css): 🚧 Create some global styles and move Typography to it [#9]
  src/components/discours-ui-kit/TextView/README.md
  src/components/discours-ui-kit/TextView/TextView.stories.tsx
  src/components/discours-ui-kit/TextView/TextView.tsx
  src/components/discours-ui-kit/TextView/__fixtures__/articles.ts
  src/components/discours-ui-kit/TextView/__fixtures__/manifest.md
  src/components/discours-ui-kit/TextView/index.ts
  src/components/discours-ui-kit/Typography/Typography.css
  src/components/discours-ui-kit/Typography/Typography.tsx
  src/styles/discours.css
  src/styles/fonts.css
  src/styles/global.css
Due: prettier --write, tslint --fix, stylelint --fix

docs(styles README): 📝 Add section about the needs of a global discours.css [#9]
  src/styles/README.md
Due: none

refactor(Typography): ♻️ DELETE style for a small text on a mobile [#9]
  src/components/discours-ui-kit/Typography/Typography.css
Due: prettier --write, stylelint --fix

design(discours.css): 💄 Add global styles for links [#9]
  src/components/discours-ui-kit/Button/Button.css
  src/components/discours-ui-kit/Button/Button.stories.tsx
  src/components/discours-ui-kit/TextView/TextView.tsx
  src/components/discours-ui-kit/TextView/__fixtures__/articles.ts
  src/components/discours-ui-kit/TextView/__fixtures__/manifest.md
  src/styles/discours.css
Due: prettier --write, tslint --fix, stylelint --fix

feat(Modal): ✨ isOpened prop and onModalClosed event [#9]
  src/components/discours-ui-kit/Modal/Modal.spec.tsx
  src/components/discours-ui-kit/Modal/Modal.tsx
  src/modals/SendContentItemModal/SendContentItemModal.tsx
Due: prettier --write, tslint --fix

feat(TextView): ✨ Open external links in a new tab + open modal from text pages [#9]
  src/components/discours-ui-kit/TextView/TextView.spec.tsx
  src/components/discours-ui-kit/TextView/TextView.tsx
Due: prettier --write, tslint --fix

chore(discours.css): 🤖 Write a comment about styles dublication [#9]
  src/styles/discours.css
Due: prettier --write, stylelint --fix

refactor(routes): ♻️ Move NotFound to a separete folder [#9]
  src/pages/NotFound/NotFound.tsx
  src/pages/NotFound/index.ts
Due: prettier --write, tslint --fix

wip(Manifest): 🚧 Page created [#9]
  src/pages/about/Manifest/Manifest.tsx
  src/pages/about/Manifest/index.ts
  src/pages/about/Manifest/manifest.md
  src/pages/index.tsx
Due: prettier --write, tslint --fix

refactor(discours.css): ♻️ A way to do inverse headings without classed [#9]
  src/components/discours-ui-kit/TextView/__fixtures__/manifest.md
  src/pages/about/Manifest/manifest.md
  src/styles/discours.css
Due: prettier --write, stylelint --fix

design(discours.css): 💄 Change heading margins and font-size [#9]
  src/styles/discours.css
  src/styles/themes/default.css
Due: prettier --write, stylelint --fix

design(manifest): 💄 Change second header to be h2 [#9]
  src/components/discours-ui-kit/TextView/__fixtures__/manifest.md
  src/pages/about/Manifest/manifest.md
Due: none

design(discours.css): 💄 Fix heading styles across the application [#9]
  src/styles/discours.css
  src/styles/themes/default.css
Due: prettier --write, stylelint --fix

chore(webpack): 🤖 Change publicPath inside webpack + change bundlewatch back to gzip [#9]
  .bundlewatch.config.js
  webpack.config.js
Due: none

chore(webpack): 🤖 Change publicPath to / [#9]
  webpack.config.js
Due: none

test(Typography): 💍 Test fix [#9]
  src/components/discours-ui-kit/Typography/Typography.spec.tsx
Due: prettier --write, tslint --fix

docs(npm-run-commit example): 📝 Example is generated in gif instead of svg to reduce CPU usage
  README.md
  docs/npm-run-commit/README.md
  docs/npm-run-commit/npm-run-commit.gif
Due: none

Path conditions:
  prettier --write: (((any of: *.json) or (any of: *.ts,!*.css.d.ts)) or (any of: *.tsx)) or (any of: *.css)
  tslint --fix: (any of: *.ts,!*.css.d.ts) or (any of: *.tsx)
  stylelint --fix: any of: *.css
