Repository Discours/discours-frontend-ex: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix, stylelint --fix

feat(Footer): ✨ Add Footer to Layout
  src/layouts/Body.tsx
Due: prettier --write, tslint --fix

chore(deps): 🤖 npm update
  package-lock.json
  package.json
  src/i18n/en-GB.po
  src/i18n/ru.po
  src/i18n/template.pot
Due: prettier --write

fix(dev): 🐛 Warning about Breakpoint and BreakpointRules
  src/styles/breakpoints.ts
Due: none

chore(webpack): 🤖 Ignore minicss plugin by hardsource-webpack-plugin
  .storybook/webpack.config.js
  config/webpack/plugins/dev.js
  webpack.config.js
Due: none

chore(deps): 🤖 React is back to 16.8
  package-lock.json
  package.json
Due: prettier --write

test(svg): 💍 svg import fix for tests
  __mocks__/fileMock.js
Due: none

design(Typography): 💄 Muller font
  src/assets/fonts/Muller/Muller-Regular.woff
  src/assets/fonts/Muller/Muller-Regular.woff2
  src/components/discours-ui-kit/Typography/Typography.css
  src/layouts/Footer/components/FooterBottom/FooterBottom.css
  src/layouts/Footer/components/FooterSubscribeForm/FooterSubscribeForm.tsx
Due: prettier --write, tslint --fix, stylelint --fix

chore(webpack): 🤖 tsc should process .orig.js files, cause they can be not es5 compatible
  config/webpack/loaders/ts.js
Due: none

refactor(@media): ♻️ Add screen to @media
  src/layouts/Footer/components/FooterBottom/FooterBottom.css
  src/layouts/Footer/components/FooterSupportBanner/FooterSupportBanner.css
Due: prettier --write, stylelint --fix

wip(Typography): 🚧 Muller font added
  src/components/discours-ui-kit/Button/Button.css
  src/components/discours-ui-kit/Input/Input.css
  src/components/discours-ui-kit/Typography/Typography.css
  src/components/discours-ui-kit/Typography/Typography.tsx
  src/i18n/en-GB.po
  src/i18n/ru.po
  src/i18n/template.pot
  src/layouts/Footer/components/FooterSupportBanner/FooterSupportBanner.tsx
  src/styles/fonts.css
  src/styles/global.css
  src/styles/themes/dark.css
  src/styles/themes/default.css
  src/styles/vendor.css
Due: prettier --write, tslint --fix, stylelint --fix

design(Typography): 💄 Add fonts and configure props for Typography component
  src/assets/fonts/Muller/Muller-Bold.woff
  src/assets/fonts/Muller/Muller-Bold.woff2
  src/components/discours-ui-kit/Button/Button.css
  src/components/discours-ui-kit/Button/Button.tsx
  src/components/discours-ui-kit/Button/README.md
  src/components/discours-ui-kit/Input/Input.css
  src/components/discours-ui-kit/Input/Input.tsx
  src/components/discours-ui-kit/Typography/Typography.css
  src/components/discours-ui-kit/Typography/Typography.spec.tsx
  src/components/discours-ui-kit/Typography/Typography.stories.tsx
  src/components/discours-ui-kit/Typography/Typography.tsx
  src/i18n/en-GB.po
  src/i18n/ru.po
  src/i18n/template.pot
  src/layouts/Footer/components/FooterBottom/FooterBottom.tsx
  src/layouts/Footer/components/FooterSubscribeForm/FooterSubscribeForm.tsx
  src/layouts/Footer/components/FooterSupportBanner/FooterSupportBanner.css
  src/layouts/Footer/components/FooterSupportBanner/FooterSupportBanner.tsx
  src/styles/fonts.css
Due: prettier --write, tslint --fix, stylelint --fix

refactor(Borders): ♻️ Add border width variable
  src/components/discours-ui-kit/Button/Button.css
  src/components/discours-ui-kit/Input/Input.css
  src/styles/themes/dark.css
  src/styles/themes/default.css
Due: prettier --write, stylelint --fix

refactor: ♻️ px change to rem
  src/components/discours-ui-kit/Button/Button.css
  src/components/discours-ui-kit/Container/Container.css
  src/components/discours-ui-kit/Icon/Icon.css
  src/components/discours-ui-kit/Input/Input.css
  src/layouts/Footer/components/FooterBottom/FooterBottom.css
  src/layouts/Footer/components/FooterSupportBanner/FooterSupportBanner.css
  src/styles/themes/dark.css
  src/styles/themes/default.css
Due: prettier --write, stylelint --fix

chore(netlify): 🤖 Add hardsource-webpack-plugin to prod deps
  package-lock.json
  package.json
Due: prettier --write

fix(Icon): 🐛 Fix svg icon spinning moving
  src/components/discours-ui-kit/Icon/Icon.css
Due: prettier --write, stylelint --fix

chore(CI): 🤖 Change coveralls to codeclimate
  .travis.yml
  README.md
  README.source.md
  package-lock.json
  package.json
Due: prettier --write

docs(README): 📝 Docs about styles and testing
  README.source.md
  package-lock.json
  package.json
  src/README.md
  src/styles/README.md
Due: prettier --write

chore(README): 🤖 Docs about styles and testing
  README.md
Due: none

docs(src/README): 📝 Add section about services and modals
  src/README.md
Due: none

docs(styles/README): 📝 Add section about css choosement instead of css-in-js
  src/styles/README.md
Due: none

chore(vscode): 🤖 tabSize set to 2 [#3]
  .vscode/settings.json
Due: prettier --write

feat(Modal): ✨ New component in discours-ui-kit [#3]
  src/components/discours-ui-kit/Button/Button.tsx
  src/components/discours-ui-kit/Modal/Modal.css
  src/components/discours-ui-kit/Modal/Modal.spec.tsx
  src/components/discours-ui-kit/Modal/Modal.stories.tsx
  src/components/discours-ui-kit/Modal/Modal.tsx
  src/components/discours-ui-kit/Modal/README.md
  src/components/discours-ui-kit/Modal/index.ts
  src/styles/themes/dark.css
  src/styles/themes/default.css
Due: prettier --write, tslint --fix, stylelint --fix

refactor(storybook): ♻️ Add MemoryRouter to all storybooks [#3]
  .storybook/config.js
  src/layouts/Footer/Footer.stories.tsx
  src/layouts/Footer/components/FooterBottom/FooterBottom.stories.tsx
  src/layouts/Footer/components/FooterSupportBanner/FooterSupportBanner.stories.tsx
Due: prettier --write, tslint --fix

wip(SendContentItemModal): 🚧 Create component [#3]
  src/components/discours-ui-kit/Modal/Modal.css
  src/components/modals/SendContentItemModal/SendContentItemModal.css
  src/components/modals/SendContentItemModal/SendContentItemModal.stories.tsx
  src/components/modals/SendContentItemModal/SendContentItemModal.tsx
  src/i18n/en-GB.po
  src/i18n/ru.po
  src/i18n/template.pot
Due: prettier --write, tslint --fix, stylelint --fix

refactor(webpack): ♻️ Refactor webpack common loaders to make them to extend easily [#3]
  .storybook/webpack.config.js
  config/webpack/loaders/assets.js
  config/webpack/loaders/css.js
  config/webpack/loaders/fs.js
  config/webpack/loaders/md.js
  config/webpack/loaders/ts.js
  webpack.config.js
Due: none

fix(webpack): 🐛 Variable names in ts loader were the problem of build not starting [#3]
  config/webpack/loaders/ts.js
Due: none

refactor(css): ♻️ Make sr-only className global [#3]
  src/components/discours-ui-kit/Icon/Icon.css
  src/components/discours-ui-kit/Icon/Icon.tsx
  src/styles/aria.css
  src/styles/global.css
Due: prettier --write, tslint --fix, stylelint --fix

refactor(storybook): ♻️ Storynames in Typography [#3]
  src/components/discours-ui-kit/Typography/Typography.stories.tsx
Due: prettier --write, tslint --fix

refactor(stories): ♻️ Change story names in Button and Modal [#3]
  src/components/discours-ui-kit/Button/Button.stories.tsx
  src/components/discours-ui-kit/Modal/Modal.stories.tsx
Due: prettier --write, tslint --fix

chore(SVG): 🤖 Move from react-svg, which works runtime to svgr which works on buildtime [#3]
  @types/images/index.d.ts
  @types/svg/index.d.ts
  __mocks__/fileMock.js
  config/filesExts.js
  config/webpack/loaders/assets.js
  package-lock.json
  package.json
Due: prettier --write

wip(Icon): 🚧 Rewritten Icon component to use svgr [#3]
  src/components/discours-ui-kit/Icon/Icon.css
  src/components/discours-ui-kit/Icon/Icon.stories.tsx
  src/components/discours-ui-kit/Icon/Icon.tsx
Due: prettier --write, tslint --fix, stylelint --fix

refactor(Icon): ♻️ Convert all usage to the new API [#3]
  __mocks__/svgMock.js
  jest.config.js
  src/components/discours-ui-kit/Button/Button.spec.tsx
  src/components/discours-ui-kit/Button/Button.tsx
  src/components/discours-ui-kit/Icon/Icon.css
  src/components/discours-ui-kit/Icon/Icon.spec.tsx
  src/components/modals/SendContentItemModal/SendContentItemModal.tsx
  src/i18n/en-GB.po
  src/i18n/ru.po
  src/i18n/template.pot
  src/layouts/Footer/components/FooterBottom/FooterBottom.tsx
  src/layouts/Footer/components/FooterSubscribeForm/FooterSubscribeForm.tsx
Due: prettier --write, tslint --fix, stylelint --fix

wip(SendContentItemModal): 🚧 Styles of modal body are nearly complete, but need to replace icon [#3]
  src/components/discours-ui-kit/Icon/Icon.css
  src/components/discours-ui-kit/Icon/Icon.tsx
  src/components/modals/SendContentItemModal/SendContentItemModal.css
  src/components/modals/SendContentItemModal/SendContentItemModal.tsx
  src/i18n/en-GB.po
  src/i18n/ru.po
  src/i18n/template.pot
  src/layouts/Footer/components/FooterBottom/FooterBottom.tsx
Due: prettier --write, tslint --fix, stylelint --fix

chore(E2E): 🤖 Fix cypress webpack after changes [#3]
  README.md
  cypress/webpack.config.js
Due: none

fix(storybook): 🐛 Storybook build is fixed [#3]
  .storybook/webpack.config.js
Due: none

chore(CI): 🤖 Add bundlewatch to CI to know how does PR affects bundle size
  .bundlewatch.config.js
  .travis.yml
  package-lock.json
  package.json
Due: prettier --write

chore(Sentry): 🤖 Sentry release should be unique by commit hash
  config/errorReporting/config.js
  config/errorReporting/setEnvGitHash.js
  webpack.config.js
Due: none

design(Icon): 💄 Icons replace to the new ones [#3]
  src/components/discours-ui-kit/Icon/icons/article.svg
  src/components/discours-ui-kit/Icon/icons/index.ts
  src/components/discours-ui-kit/Icon/icons/literature.svg
  src/components/discours-ui-kit/Icon/icons/music.svg
  src/components/discours-ui-kit/Icon/icons/photo.svg
  src/components/discours-ui-kit/Icon/icons/post.svg
  src/components/discours-ui-kit/Icon/icons/video.svg
  src/components/modals/SendContentItemModal/SendContentItemModal.tsx
Due: prettier --write, tslint --fix

chore(Netlify): 🤖 Install bundlewatch as prod dep for Netlify to build the site
  package-lock.json
  package.json
Due: prettier --write

fix(Modal): 🐛 Scroll of body should be locked, why modal is open [#3]
  src/components/discours-ui-kit/Modal/Modal.stories.tsx
  src/components/discours-ui-kit/Modal/Modal.tsx
Due: prettier --write, tslint --fix

Path conditions:
  prettier --write: (((any of: *.json) or (any of: *.ts,!*.css.d.ts)) or (any of: *.tsx)) or (any of: *.css)
  tslint --fix: (any of: *.ts,!*.css.d.ts) or (any of: *.tsx)
  stylelint --fix: any of: *.css
