Repository Discours/discours-frontend-ex: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix, stylelint --fix

feat(Visible): ✨ Visible component create
  .gitignore
  package-lock.json
  package.json
  postcss.config.js
  src/components/discours-ui-kit/Visible/README.md
  src/components/discours-ui-kit/Visible/Visible.spec.tsx
  src/components/discours-ui-kit/Visible/Visible.stories.tsx
  src/components/discours-ui-kit/Visible/Visible.tsx
  src/components/discours-ui-kit/Visible/index.ts
  src/styles/breakpoints.orig.d.ts
  src/styles/breakpoints.orig.js
  src/styles/breakpoints.ts
  src/utils/breakpoints.spec.ts
  src/utils/breakpoints.ts
  tsconfig.json
Due: prettier --write, tslint --fix

chore(tsc): 🤖 Fix ts error in Visible.spec.tsx
  src/components/discours-ui-kit/Visible/Visible.spec.tsx
Due: prettier --write, tslint --fix

wip(Button): 🚧 Add className prop
  src/components/discours-ui-kit/Button/Button.spec.tsx
  src/components/discours-ui-kit/Button/Button.tsx
Due: prettier --write, tslint --fix

feat(FooterSupportBanner): ✨ Nearly finished
  src/components/modules/Footer/components/FooterSupportBanner/FooterSupportBanner.css
  src/components/modules/Footer/components/FooterSupportBanner/FooterSupportBanner.stories.tsx
  src/components/modules/Footer/components/FooterSupportBanner/FooterSupportBanner.tsx
  src/styles/breakpoints.orig.js
Due: prettier --write, tslint --fix, stylelint --fix

feat(Icon): ✨ isFixedWidth prop
  src/components/discours-ui-kit/Icon/Icon.css
  src/components/discours-ui-kit/Icon/Icon.tsx
Due: prettier --write, tslint --fix, stylelint --fix

chore(vscode): 🤖 DELETE auto stylelint on save
  .vscode/settings.json
Due: prettier --write

feat(Typography): ✨ small variant
  src/components/discours-ui-kit/Typography/Typography.css
  src/components/discours-ui-kit/Typography/Typography.tsx
Due: prettier --write, tslint --fix, stylelint --fix

feat(FooterBottom): ✨ New component
  src/components/formatters/FormattedDate/FormattedDate.tsx
  src/components/modules/Footer/components/FooterBottom/FooterBottom.css
  src/components/modules/Footer/components/FooterBottom/FooterBottom.stories.tsx
  src/components/modules/Footer/components/FooterBottom/FooterBottom.tsx
  src/components/modules/Footer/components/FooterBottom/index.ts
  src/config/routes.ts
Due: prettier --write, tslint --fix, stylelint --fix

chore(tslint): 🤖 Remove extra import
  src/components/modules/Footer/components/FooterBottom/FooterBottom.tsx
Due: prettier --write, tslint --fix

wip(Footer): 🚧 Create a central Footer component
  src/components/modules/Footer/Footer.stories.tsx
  src/components/modules/Footer/Footer.tsx
  src/components/modules/Footer/index.ts
Due: prettier --write, tslint --fix

docs(README.md): 📝 Add section about git flow, npm run commit
  README.md
  README.source.md
Due: none

chore(trucknet-commit): 🤖 Update to 1.5.3
  package-lock.json
  package.json
Due: prettier --write

chore(deps): 🤖 trucknet-commit update
  package-lock.json
  package.json
Due: prettier --write

docs(README): 📝 Add npm run commit demo to README
  README.md
  README.source.md
  docs/npm-run-commit/README.md
  docs/npm-run-commit/npm-run-commit.cast
  docs/npm-run-commit/npm-run-commit.svg
Due: none

chore(lint): 🤖 Fix tsc and tslint errors
  src/components/discours-ui-kit/Button/Button.tsx
  src/styles/breakpoints.orig.js
Due: prettier --write, tslint --fix

docs(README): 📝 Add storybook and folder structure information
  README.md
  README.source.md
  docs/storybook-examples/info.png
  docs/storybook-examples/locale.png
  docs/storybook-examples/responsive.png
  docs/storybook-examples/themes.png
  src/README.md
  src/components/README.md
Due: none

refactor(Footer): ♻️ Move Footer to layouts
  src/layouts/Footer/Footer.stories.tsx
  src/layouts/Footer/Footer.tsx
  src/layouts/Footer/README.md
  src/layouts/Footer/components/FooterBottom/FooterBottom.css
  src/layouts/Footer/components/FooterBottom/FooterBottom.stories.tsx
  src/layouts/Footer/components/FooterBottom/FooterBottom.tsx
  src/layouts/Footer/components/FooterBottom/index.ts
  src/layouts/Footer/components/FooterSupportBanner/FooterSupportBanner.css
  src/layouts/Footer/components/FooterSupportBanner/FooterSupportBanner.stories.tsx
  src/layouts/Footer/components/FooterSupportBanner/FooterSupportBanner.tsx
  src/layouts/Footer/components/FooterSupportBanner/README.md
  src/layouts/Footer/components/FooterSupportBanner/banner-big.jpg
  src/layouts/Footer/components/FooterSupportBanner/banner-small.jpg
  src/layouts/Footer/components/FooterSupportBanner/examples/example-1.png
  src/layouts/Footer/components/FooterSupportBanner/index.ts
  src/layouts/Footer/examples/example-1.png
  src/layouts/Footer/index.ts
Due: prettier --write, tslint --fix, stylelint --fix

refactor(tslint): ♻️ Remove unnecessary import-name import
  src/layouts/Body.tsx
Due: prettier --write, tslint --fix

refactor(Body): ♻️ Remove unnecessary code blocks
  src/layouts/Body.tsx
Due: prettier --write, tslint --fix

refactor(React): ♻️ Replace React.Component with React.PureComponent
  src/components/discours-ui-kit/Button/Button.tsx
  src/components/discours-ui-kit/Container/Container.tsx
  src/components/discours-ui-kit/Icon/Icon.tsx
  src/components/discours-ui-kit/Typography/Typography.tsx
  src/components/discours-ui-kit/Visible/Visible.tsx
  src/components/formatters/FormattedDate/FormattedDate.tsx
  src/contexts/LocaleContext.tsx
  src/contexts/ThemeContext.tsx
  src/layouts/App/App.tsx
  src/layouts/Body.tsx
  src/layouts/Footer/components/FooterBottom/FooterBottom.tsx
  src/layouts/Footer/components/FooterSupportBanner/FooterSupportBanner.tsx
Due: prettier --write, tslint --fix

refactor(storybook): ♻️ Replace modules/Footer with layouts/Footer
  src/layouts/Footer/Footer.stories.tsx
  src/layouts/Footer/components/FooterBottom/FooterBottom.stories.tsx
  src/layouts/Footer/components/FooterSupportBanner/FooterSupportBanner.stories.tsx
Due: prettier --write, tslint --fix

wip(Input): 🚧 Create component
  src/components/discours-ui-kit/Input/Input.css
  src/components/discours-ui-kit/Input/Input.spec.tsx
  src/components/discours-ui-kit/Input/Input.stories.tsx
  src/components/discours-ui-kit/Input/Input.tsx
  src/components/discours-ui-kit/Input/README.md
  src/components/discours-ui-kit/Input/index.ts
Due: prettier --write, tslint --fix, stylelint --fix

feat(Icon): ✨ Add isSpinning prop + accessibility information provided
  src/components/discours-ui-kit/Icon/Icon.css
  src/components/discours-ui-kit/Icon/Icon.spec.tsx
  src/components/discours-ui-kit/Icon/Icon.stories.tsx
  src/components/discours-ui-kit/Icon/Icon.tsx
Due: prettier --write, tslint --fix, stylelint --fix

feat(Button): ✨ Add isLoading prop
  src/components/discours-ui-kit/Button/Button.spec.tsx
  src/components/discours-ui-kit/Button/Button.tsx
  src/components/discours-ui-kit/Icon/icons/index.ts
  src/components/discours-ui-kit/Icon/icons/sync.svg
Due: prettier --write, tslint --fix

fix(Icon): 🐛 Display inline-block for the spinning icon
  src/components/discours-ui-kit/Icon/Icon.css
Due: prettier --write, stylelint --fix

design(Button): 💄 button-regular variant styles
  src/components/discours-ui-kit/Button/Button.css
  src/components/discours-ui-kit/Button/Button.tsx
Due: prettier --write, tslint --fix, stylelint --fix

fix(Button): 🐛 Fix Button to render inverse loading in isInverse mode
  src/components/discours-ui-kit/Button/Button.css
  src/components/discours-ui-kit/Button/Button.tsx
Due: prettier --write, tslint --fix, stylelint --fix

feat(Input): ✨ Input should have append and prepend props
  src/components/discours-ui-kit/Input/Input.css
  src/components/discours-ui-kit/Input/Input.stories.tsx
  src/components/discours-ui-kit/Input/Input.tsx
Due: prettier --write, tslint --fix, stylelint --fix

chore(Icon): 🤖 submit alias for editorLead
  src/components/discours-ui-kit/Icon/icons/index.ts
Due: none

fix(Button): 🐛 Should be disabled while isLoading
  src/components/discours-ui-kit/Button/Button.spec.tsx
  src/components/discours-ui-kit/Button/Button.tsx
Due: prettier --write, tslint --fix

feat(Typography): ✨ Danger color for Typography
  src/components/discours-ui-kit/Typography/Typography.css
  src/components/discours-ui-kit/Typography/Typography.stories.tsx
  src/components/discours-ui-kit/Typography/Typography.tsx
Due: prettier --write, tslint --fix, stylelint --fix

feat(Input): ✨ Add error handling to Input with Formik
  package-lock.json
  package.json
  src/components/discours-ui-kit/Input/Input.css
  src/components/discours-ui-kit/Input/Input.spec.tsx
  src/components/discours-ui-kit/Input/Input.stories.tsx
  src/components/discours-ui-kit/Input/Input.tsx
  src/components/discours-ui-kit/Input/__fixtures__/FormRender.tsx
  src/styles/themes/dark.css
  src/styles/themes/default.css
Due: prettier --write, tslint --fix, stylelint --fix

docs(Input): 📝 Update Input docs about Fromic and Yup
  src/components/discours-ui-kit/Input/README.md
Due: none

feat(Button): ✨ isInline style
  src/components/discours-ui-kit/Button/Button.css
  src/components/discours-ui-kit/Button/Button.tsx
Due: prettier --write, tslint --fix, stylelint --fix

feat(Typography): ✨ italics style
  src/components/discours-ui-kit/Typography/Typography.css
  src/components/discours-ui-kit/Typography/Typography.tsx
Due: prettier --write, tslint --fix, stylelint --fix

wip(FooterSubcribeForm): 🚧 Component created, container is left
  src/layouts/Footer/components/FooterSubscribeForm/FooterSubscribeForm.stories.tsx
  src/layouts/Footer/components/FooterSubscribeForm/FooterSubscribeForm.tsx
  src/layouts/Footer/components/FooterSubscribeForm/index.ts
Due: prettier --write, tslint --fix

fix(Input): 🐛 Should use PureComponent instead of Component
  src/components/discours-ui-kit/Input/Input.tsx
Due: prettier --write, tslint --fix

design(Footer): 💄 Right column styles
  src/layouts/Footer/components/FooterBottom/FooterBottom.css
  src/layouts/Footer/components/FooterBottom/FooterBottom.tsx
Due: prettier --write, tslint --fix, stylelint --fix

chore(utils): 🤖 Create sleep util
  src/utils/timers.ts
Due: none

feat(Footer): ✨ FooterSubsctibeForm connect to Footer
  src/layouts/Footer/components/FooterSubscribeForm/FooterSubscribeForm.stories.tsx
  src/layouts/Footer/components/FooterSubscribeForm/FooterSubscribeForm.tsx
  src/layouts/Footer/components/FooterSubscribeForm/index.ts
  src/layouts/Footer/containers/FooterSubscribeFormContainer.tsx
Due: prettier --write, tslint --fix

Path conditions:
  prettier --write: (((any of: *.json) or (any of: *.ts,!*.css.d.ts)) or (any of: *.tsx)) or (any of: *.css)
  tslint --fix: (any of: *.ts,!*.css.d.ts) or (any of: *.tsx)
  stylelint --fix: any of: *.css
